<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
 <div>
	<h1>Welcome to OAuth2 Client</h1>
    <a href="/oauth2/authorization/my-client-app">Login with OAuth2</a>
 </div>
 
  <div>
	<h1>Welcome to OAuth2 Client</h1>
    <a href="/oauth2/authorization/my-client-app">Login with OAuth2</a>
 </div>
 
  <div>
	<h1>Welcome to OAuth2 Client</h1>
    <a href="/oauth2/authorization/my-client-app">Login with OAuth2</a>
 </div
 
 
 
 
 
 >
</body>
</html>